button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #545454;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.1s ease-in-out;
  border-radius: 5px;
}

button:hover {
  background-color: #2a2a2a;
}

button:active {
  background-color: #3a3a3a;
}

#startButton {
  background-color: #1d9733;
}

#startButton:hover {
  background-color: #1bba6d;
}

#startButton:active {
  background-color: #25a77b;
}

#stopButton {
  background-color: #ff4d4f;
}

#stopButton:hover {
  background-color: #ff6a6e;
}

#stopButton:active {
  background-color: #d93e3f;
}
