.slider-container {
  margin: 10px;
  display: flex;
  align-items: center;
}

.slider-container label {
  margin-right: 10px;
}

.slider-container input[type="range"] {
  width: 100%;
}

.slider-container span {
  margin-top: -10px;
  margin-left: 10px;
}
